/* PC CSS */


/* Navbar */

.navbar {
    width: 100%;
    text-decoration-line: none;
    background-size: cover;
    background-position: center;
    height: 75px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    position: relative;
}

nav {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1px;
    padding-left: 5%;
    padding-right: 10%;
    height: 75px;
}

.navbar nav .header {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: orange;
    font-size: 25px;
    padding: 14px 16px;
    margin: 0;
    left: 10%;
    position: absolute;
}

.headerimg {
    padding: 14px 16px;
    margin: 0;
    position: absolute;
    left: 0px;
    width: 100px;
    height: 150px;
}

.navbar nav .headerimg img {
    position: absolute;
    left: 0px;
    width: 156px;
    height: 145px;
}

nav ul {
    position: absolute;
    left: 30%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: yellow;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

nav ul li a b {
    color: yellow;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

nav ul li a:hover {
    color: red;
}

nav ul :hover {
    transform: scale(1.25);
}


/* Buttons */

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.navbar nav .register-button {
    border-radius: 10px;
    background: hsla(197, 100%, 63%, 1);
    background: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9FF", endColorstr="#E81CFF", GradientType=1);
    color: white;
    position: absolute;
    right: 200px;
    top: 20px;
    width: 150px;
}

.navbar nav .login-button {
    background-color: #4CAF50;
    color: white;
    position: absolute;
    right: 60px;
    top: 20px;
    width: 110px;
    border-radius: 5px;
}

.mobnavdm li .register-button {
    background: hsla(197, 100%, 63%, 1);
    background: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9FF", endColorstr="#E81CFF", GradientType=1);
    background-color: #4CAF50;
    color: white;
    position: absolute;
    right: 45px;
    top: 225px;
    width: 175px;
}

.navbar nav .register-button:hover {
    background: none;
    font-size: 20px;
    font-weight: bold;
    color: hsla(197, 100%, 63%, 1);
    color: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    color: -moz-linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    color: -webkit-linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9FF", endColorstr="#E81CFF", GradientType=1);
    border: 3px solid white;
    transform: scale(1.25);
}


/* Sections */

section {
    background-position: center;
    width: auto;
}

.content {
    text-align: top center;
    align-items: top center;
    padding: 10px;
}


/*-section1-*/

.section1 {
    background: url("./assets/earthspace.png") no-repeat;
    height: 600px;
    width: 100%;
    background-size: 100%;
    opacity: 85%;
}

.section1 content img {
    float: right;
    text-align: center;
    align-items: center;
    padding: 10px;
}

.section1 .content h3 {
    font-size: 55px;
    color: white;
    top: 75px;
    left: 30%;
    position: absolute;
}

.section1 .content .sec1header2 {
    top: 135px;
    left: 30%;
}

.section1 .content .welcomep11 {
    top: 300px;
    left: 25%;
    position: absolute;
    color: #fff;
    font-size: 25px;
}

.section1 .content .welcomep12 {
    top: 325px;
    left: 25%;
    position: absolute;
    color: #fff;
    font-size: 25px;
}

.section1 .content .welcomep12 a {
    text-decoration: none;
    color: hsla(197, 100%, 63%, 1);
    font-weight: bold;
    font-size: 30px;
}

.section1 .content .welcomep21 {
    top: 400px;
    left: 25%;
    position: absolute;
    color: #fff;
    font-size: 25px;
}

.section1 .content .welcomep22 {
    top: 425px;
    left: 25%;
    position: absolute;
    color: #fff;
    font-size: 25px;
}

.section1 .content a .welcomebutton {
    position: absolute;
    top: 500px;
    left: 45%;
    background: hsla(333, 100%, 53%, 1);
    background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF0F7B", endColorstr="#F89B29", GradientType=1);
    color: #fff;
}

.section1 .content a .welcomebutton:hover {
    background: none;
    transform: rotate(1);
    background-clip: border-box;
    background: hsla(333, 100%, 53%, 1);
    background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF0F7B", endColorstr="#F89B29", GradientType=1);
    color: #fff;
}


/*-section2Presale-*/

.section2 {
    z-index: 1;
    position: relative;
    height: 750px;
    background: hsla(286, 48%, 91%, 1);
    background: linear-gradient(90deg, hsla(286, 48%, 91%, 1) 0%, hsla(340, 73%, 75%, 1) 50%, hsla(263, 58%, 45%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(286, 48%, 91%, 1) 0%, hsla(340, 73%, 75%, 1) 50%, hsla(263, 58%, 45%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(286, 48%, 91%, 1) 0%, hsla(340, 73%, 75%, 1) 50%, hsla(263, 58%, 45%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EEDDF3", endColorstr="#EE92B1", GradientType=1);
}

.custom-shape-divider-bottom-1689695442 {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1689695442 svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 144px;
}

.custom-shape-divider-bottom-1689695442 .shape-fill {
    fill: #FFFFFF;
}

.section2 .content h1 {
    position: relative;
    font-size: 75px;
    top: -70px;
    right: -190px;
}

.section2 .content .presaleBox {
    position: relative;
    top: -184px;
    right: -790px;
    height: 530px;
    width: 356px;
    background-color: rgb(55, 52, 52);
}

.section2 .content .presaleBox h2 {
    position: relative;
    right: -60px;
    top: 10px;
    color: red;
    font-size: 40px;
}

.section2 .content .presaleBox hr {
    position: relative;
    right: 0px;
    top: -15px;
    width: 300px;
}


/*section3-content */

.section3 {
    z-index: 0;
    position: absolute;
    top: 1200px;
    background-color: black;
}


/* Common Properties */

body {
    margin: 0;
    padding: 0;
}

.left {
    flex: 1;
}

.right {
    flex: 0.5;
    text-align: center;
}

.whiteglassmhorp {
    backdrop-filter: blur(10px) saturate(20%);
    -webkit-backdrop-filter: blur(10px) saturate(150%);
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(131, 170, 229, 0.3);
}


/* Other Devices CSS Properties */

.mobnavdmtb {
    z-index: 2;
    display: none;
    color: white;
    text-decoration: none;
    top: 5;
    right: 50px;
    position: absolute;
}

.mobnavdm {
    z-index: 1;
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 250px;
    height: 275px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
}

.mobnavdm li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-style: none;
    color: aqua;
}


/* Media - Small Desktop */

@media (max-width: 1330px) and (min-width: 992px) {
    .navbar nav ul {
        font-size: 20px;
        left: 15%;
        position: absolute;
    }
    .navbar nav .header {
        display: none;
    }
    .navbar nav .headerimg img {
        position: absolute;
        display: block;
        left: 1%;
    }
    .section1 .content h3 {
        font-size: 45px;
    }
    .navbar nav .login-button {
        display: none;
    }
    .navbar nav .register-button {
        right: 50px;
    }
    .section1 .content h3 {
        font-size: 55px;
        color: white;
        top: 75px;
        left: 15%;
        position: absolute;
    }
    .section1 .content .sec1header2 {
        top: 135px;
        left: 15%;
    }
    .section1 .content .welcomep11 {
        top: 300px;
        left: 10%;
        position: absolute;
        color: #fff;
        font-size: 25px;
    }
    .section1 .content .welcomep12 {
        top: 325px;
        left: 10%;
        position: absolute;
        color: #fff;
        font-size: 25px;
    }
    .section1 .content .welcomep12 a {
        text-decoration: none;
        color: hsla(197, 100%, 63%, 1);
        font-weight: bold;
        font-size: 30px;
    }
    .section1 .content .welcomep21 {
        top: 400px;
        left: 10%;
        position: absolute;
        color: #fff;
        font-size: 25px;
    }
    .section1 .content .welcomep22 {
        top: 425px;
        left: 10%;
        position: absolute;
        color: #fff;
        font-size: 25px;
    }
    .section1 .content a .welcomebutton {
        position: absolute;
        top: 500px;
        left: 40%;
        background: hsla(333, 100%, 53%, 1);
        background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
        background: -moz-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
        background: -webkit-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF0F7B", endColorstr="#F89B29", GradientType=1);
        color: #fff;
    }
}


/* Media - Normal Mobile */

@media (max-width: 992px) and (min-width:650px) {
    /*         Navbar and Mobnavdm       */
    .navbar {
        background: none;
        backdrop-filter: none;
    }
    .navbar nav .headerimg {
        display: none;
        right: 25%;
    }
    .navbar nav ul {
        display: none;
    }
    .mobnavdm {
        z-index: 3;
        display: none;
    }
    .mobnavdm li a {
        color: #00ffe5;
        text-decoration: none;
        font-size: 20px;
    }
    .mobnavdmtb {
        display: block;
    }
    .navbar nav .register-button {
        display: none;
    }
    .navbar nav .login-button {
        display: none;
    }
    /*           Section1 - Content      */
    .section1 .content h3 {
        font-size: 35px;
        color: white;
        top: 75px;
        left: calc(50vw - 200px);
        position: absolute;
    }
    .section1 .content .sec1header2 {
        top: 110px;
        left: calc(50vw - 200px);
    }
    .section1 .content .welcomep11 {
        top: 300px;
        left: calc(50vw - 340px);
        position: absolute;
        color: #fff;
        font-size: 20px;
    }
    .section1 .content .welcomep12 {
        top: 325px;
        left: calc(50vw - 340px);
        position: absolute;
        color: #fff;
        font-size: 20px;
    }
    .section1 .content .welcomep12 a {
        text-decoration: none;
        color: hsla(197, 100%, 63%, 1);
        font-weight: bold;
        font-size: 30px;
    }
    .section1 .content .welcomep21 {
        top: 400px;
        left: calc(50vw - 340px);
        position: absolute;
        color: #fff;
        font-size: 25px;
    }
    .section1 .content .welcomep22 {
        top: 425px;
        left: calc(50vw - 340px);
        position: absolute;
        color: #fff;
        font-size: 25px;
    }
    .section1 .content a .welcomebutton {
        position: absolute;
        top: 500px;
        left: 45%;
        background: hsla(333, 100%, 53%, 1);
        background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
        background: -moz-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
        background: -webkit-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF0F7B", endColorstr="#F89B29", GradientType=1);
        color: #fff;
    }
}


/* Media - Long Mobile */

@media (max-width: 650px) {
    /*      Navbar and Mobnavdm      */
    .navbar nav .header {
        display: none;
    }
    .navbar nav.headerimg {
        display: block;
        left: 1%;
    }
    .navbar nav .register-button {
        display: none;
    }
    .navbar nav .login-button {
        display: none;
    }
    .navbar nav ul {
        display: none;
    }
    .mobnavdm {
        z-index: 3;
        display: none;
    }
    .mobnavdmtb {
        display: block;
    }
    /*            SECTION1 -CONTENT            */
    .section1 .content h3 {
        font-size: 20px;
        color: white;
        top: 75px;
        left: calc(50vw - 130px);
        position: absolute;
    }
    .section1 .content .sec1header2 {
        top: 100px;
        left: calc(50vw - 130px);
    }
    .section1 .content .welcomep11 {
        top: 200px;
        left: calc(50vw - 260px);
        position: absolute;
        color: #fff;
        font-size: 15px;
    }
    .section1 .content .welcomep12 {
        top: 225px;
        left: calc(50vw - 261px);
        position: absolute;
        color: #fff;
        font-size: 15px;
    }
    .section1 .content .welcomep12 a {
        text-decoration: none;
        color: hsla(197, 100%, 63%, 1);
        font-weight: bold;
        font-size: 20px;
    }
    .section1 .content .welcomep21 {
        top: 300px;
        left: calc(50vw - 261px);
        position: absolute;
        color: #fff;
        font-size: 15px;
    }
    .section1 .content .welcomep22 {
        top: 325px;
        left: calc(50vw - 261px);
        position: absolute;
        color: #fff;
        font-size: 15px;
    }
    .section1 .content a .welcomebutton {
        position: absolute;
        top: 400px;
        left: 35%;
        background: hsla(333, 100%, 53%, 1);
        background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
        background: -moz-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
        background: -webkit-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF0F7B", endColorstr="#F89B29", GradientType=1);
        color: #fff;
    }
}